.loginForm {
    /*
      esta clase seria para el formulario de login si quisieramos darle un estilo
      propio solo a esta pagina y no tocar los estilos globales
      ahora mismo casi todo el aspecto del login sale de globals.css
      si en defensa nos pidieran solo el login mas separado o mas bonito lo comodo seria empezar aqui
    */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
